numpy
torch==2.9.1
torchaudio==2.9.1
librosa
laion-clap
transformers
huggingface-hub
scikit-learn
matplotlib
tqdm
soundfile
essentia-tensorflow==2.1b6.dev1110
nnAudio
git+https://github.com/awsaf49/sonics.git
umap-learn
matplotlib
seaborn
numba
argbind>=0.3.7
descript-audiotools>=0.7.2
einops
tensorboard
numba>=0.5.7
jupyterlab
descript-audio-codec
descript-audiotools
encodec
torchcodec==0.8.0
